:ruby
  js_data = {
    xhr: false
  }
  collection = field.currency_collection
  selected = form.object.send(field.currency_field) || field.default_currency
.form-inline
  = form.number_field field.cents_field, field.html_attributes.reverse_merge({ class: 'form-control pull-left', required: field.required})
  = form.select field.currency_field, collection, { selected: selected }, field.html_attributes.reverse_merge({ data: { filteringselect: true, options: js_data.to_json }, placeholder: t('admin.misc.search') })
